*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
}
.homePage{
    width: 100%;
    height: 100vh;
    background:url(images/Netflix\ Background\ image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120vh;
    position: absolute;
}
.homePage_navigation{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.7);
}
.homePage_nav_logo{
    width: 220px;
    height: 220px;
    object-fit: contain;
    position: relative;
    top: -40px;
    left: 110px;
}

.homePage_button{
    position: absolute;
    top: 50px;
    right: 90px;
}
#dropdown{
    padding: 0.5rem 0.9rem;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 0.7rem;
}
.homePage_signin{
    padding: 0.5rem 0.9rem;
    border-radius: 4px;
    background-color: 	rgb(219,0,0);
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.2s;
}
.homePage_signin:hover{
    background-color: rgb(255, 58, 58);
}
.homePage_content{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homePage_content_title{
    font-family: poppins;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0.8rem;
}
.homePage_content_line_one{
    font-size: 1.3rem;
    color: #fff;
    font-family: poppins;
    margin-bottom: 1rem;
}
.homePage_content_line_two{
    font-size: 1.1rem;
    color: #fff;
    font-family: poppins;
    font-weight: 400;
}
.homePage_content_input{
    width: 45%;
    margin-top: 2rem;
}
.content_input{
    width: 60%;
    padding: 1.1rem 1.5rem;
    margin-right: 0.5rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgb(148, 146, 146);
    border-radius: 4px;
}
.homePage_input_started{
    width: 30%;
    padding: 0.74rem 0.1rem;
    background-color: rgb(219,0,0);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.homePage_input_started:hover{
    background-color: rgb(255, 58, 58);
}
.homePage_input_started_title{
    font-size: 1.2rem;
    font-family: poppins;
    font-weight: 600;
}
.line-one{
    width: 100%;
    height: 8px;
    opacity: 0.9;
    background-color:rgb(40, 39, 39) ;
    filter: brightness(50%);
}
.chevron{
    width: 18px;
    height: 18px;
    color: #fff;
}
@media screen and (min-width:350px) and (max-width:1024px){
    .homePage_nav_logo{
        left: 20px;
    }
    .homePage_button{
        right: 30px;
    }
    .homePage_content_title{
        font-size: 1.5rem;
        text-align:center;
    }
    .homePage_content_line_one{
        font-size: 1rem;
        text-align: center;
    }
    .homePage_content_line_two{
        font-size: 1.1rem;
        text-align: center;
    }
    .homePage_content_input{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_input{
        width: 100%;
    }
    .homePage_input_started{
        width: 60%;
        margin-top: 0.5rem;
    }
}

/* SUBCONTENT ONE */

.subcontent_one{
    width: 100%;
    height: 85vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.subcontent_one_text{
    width: 50%;
    color: #fff;
    /* position: relative; */
    font-family: poppins;
    text-wrap: wrap;
}
.subcontent_one_text_title{
    font-size: 2.7rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    /* position: absolute;
    top: -60px;
    left: -100px; */
}
.content_one{
    font-size: 1.4rem;
    font-weight: 400;
}
.subcontent_one_display{
    position: relative;
}
.image_one{
    width: 430px;
    height:330px;
    position: absolute;
    top: -40px;
    left: -56px;
    z-index: 15;
}
.video{
    position: relative;
    top: -10px;
    z-index: -1;
}

/* SUBCONTENT -2 */

.subcontent-2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    gap: 1rem;
}
.subcontent-2-display{
    position: relative;
    
}
.subcontent-2-img{
    width: 430px;
    height: 330px;
    position: absolute;
    left: -70px;
    z-index: 14;
}
.subcontent-2-video{
    width: 300px;
    height: 240px;
    padding-right:2rem;
    z-index: -1;
}
.subcontent-2-text{
    font-family: poppins;
    color: #fff;
    position: relative;
    left: 3.5rem;
}
.subcontent-2-text-title{
    font-size: 2.7rem;
    font-weight: 900;  
}
.subcontent-2-content{
    font-size:1.4rem;
    font-weight: 400;
}
@media screen and (min-width:350px) and (max-width:640px){
    .subcontent-2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subcontent-2-text{
        width: 83%;
        height: 20vh;
        position: relative;
        top: -20rem;
        text-align: center;

    }
    .subcontent-2-text-title{
        font-size: 2rem; 
    }
    .subcontent-2-content{
        font-size:1rem;
    }
    .subcontent-2-img{
        width: 340px;
        height: 230px;
        left: -40px;
    }
    .subcontent-2-video{
        width: 240px;
        height: 190px;
    }
}
@media screen and (min-width:640px) and (max-width:1024px){
    .subcontent-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subcontent-2-text{
        width: 80%;
        height: 20vh;
        position: relative;
        top:-22rem;
        left: 10px;
        text-align: center;

    }
    .subcontent-2-text-title{
        font-size: 2.5rem; 
    }
    .subcontent-2-content{
        font-size:1.1rem;
    }

}
/* SUBCONTENT -3 */

.subcontent-3{
    width: 100%;
    height: 90vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-content: center;
}
.subcontent-3-text{
    width: 36%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    color: #fff;
    position: relative;
    top: 2rem;
    left: 6.5rem;
}
.subcontent-3-text-title{
    font-size: 2.7rem;
    font-weight: 900;
}
.subcontent-3-content{
    font-size: 1.3rem;
    font-weight: 400;
}
.subcontent-3-display{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontent-3-img{
    width: 450px;
    height: 450px;
    object-fit: contain;
}
@media screen and (min-width:350px) and (max-width:640px){
    .subcontent-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .subcontent-3-text{
        width: 50%;
        position: relative;
        top: 4rem;
        left: 6.5rem;
    }
    .subcontent-3-text-title{
        font-size: 2rem;
        text-align: center;
    }
    .subcontent-3-content{
        font-size: 1.1rem;
        text-align: center;
    }
    .subcontent-3-display{
        width: 100%;
        height: 100%;
    }
    .subcontent-3-img{
        width: 300px;
        height: 300px;
        object-fit: contain;
        position: relative;
        /* top: -5rem; */
        top: 1rem;
    }
}
@media screen and (min-width:640px) and (max-width:1024px){
    .subcontent-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .subcontent-3-text{
        width: 80%;
        position: relative;
        top: 4rem;
        left: 6.5rem;
    }
    .subcontent-3-text-title{
        font-size: 2.4rem;
    }
    .subcontent-3-content{
        font-size: 1.3rem;
        text-align: center;
    }
    .subcontent-3-display{
        width: 100%;
        height: 100%;
    }
    .subcontent-3-img{
        width: 500px;
        height: 600px;
        object-fit: contain;
    }
}

/* SUBCONTENT-4 */
.subcontent-4{
    width: 100%;
    height: 80vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.subcontent-4-display{
    position:relative;
    top: 13%;
    left: 0;
}
.subcontent-4-img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    z-index: -1;
}
.subcontent-4-box{
    width: 240px;
    height: 15vh;
    border: 1px solid lightgrey;
    display: flex;
    position: relative;
    top: -140px;
    left: 80px;
    background-color: #000;
    border-radius: 10px;
}
.subcontent-4-box-display{
    width: 50px;
    height: auto;
    margin: 0.4rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.subcontent-4-box-animation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontent-4-animation{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.subcontent-4-box-img{
    width: 52px;
    height: auto;
    object-fit: contain;
}
.subcontent-4-box-text{
    font-family: poppins;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subcontent-4-box-text-title{
    font-size: 0.9rem;
    font-weight: 500;
}
.subcontent-4-box-text-content{
    font-size: 0.7rem;
    font-weight: 300;
    color: blue;
}
.subcontent-4-text{
    width: 430px;
    height: 260px;
    position: relative;
    top: 10%;
    left: 0;
    padding:0 0.4rem;
    font-family: poppins;
    color: #fff;
}
.subcontent-4-text-title{
    font-size: 2.7rem;
    font-weight: 900;
}
.subcontent-4-content{
    font-size: 1.2rem;
    font-weight: 400;
}
@media screen and (min-width:350px) and (max-width:640px){
    .subcontent-4{
        flex-direction: column;
        width: 150vw;
    }
    .line-one{
        width: 150vw;
    }
    .subcontent-4-display{
        top: 20%;
    }
    .subcontent-4-box{
        width: 220px;
        height: 10vh;
        top: -140px;
        left: 100px;
    }
    .subcontent-4-box-img{
        width: 46px;
        height: auto;
        object-fit: contain;
    }
    .subcontent-4-text{
        width: 430px;
        height: 260px;
        position: absolute;
        top: 10%;
        left: 16%;
        padding:0 0.4rem;
        font-family: poppins;
        color: #fff;
        text-align: center;
    }
    .subcontent-4-text-title{
        font-size: 1.6rem;
        font-weight: 900;
    }
    .subcontent-4-content{
        font-size: 1rem;
        font-weight: 400;
    }
    
}
@media screen and (min-width:640px) and (max-width:1024px){
    .subcontent-4{
        flex-direction: column;
    }
    .subcontent-4-display{
        top: 20%;
    }
    .subcontent-4-box{
        width: 220px;
        height: 10vh;
        top: -140px;
        left: 100px;
    }
    .subcontent-4-box-img{
        width: 46px;
        height: auto;
        object-fit: contain;
    }
    .subcontent-4-text{
        width: 430px;
        height: 260px;
        position: absolute;
        top: 10%;
        left: 24%;
        padding:0 0.4rem;
        font-family: poppins;
        color: #fff;
        text-align: center;
    }
    .subcontent-4-text-title{
        font-size: 2rem;
        font-weight: 900;
    }
    .subcontent-4-content{
        font-size: 1rem;
        font-weight: 400;
    }
    
}

/* FAQ'S */

.question-section{
    width: 100%;
    height: 198vh;
    background-color: #000;
}
.question-section-title{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    font-size: 2.9rem;
    color: #fff;
    font-weight: 800;
    text-align:center;
}
.question-section-content{
    width: 100%;
    height: 100vh;
    padding: 1rem;
}
.question-section-1{
    width: 100%;
    height: 15vh;
    background-color: #564d4d;
    margin: 0.3rem 0 ;
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}
.question-section-1-title{
    font-family: roboto;
    font-size: 1.6rem;
    display: inline;
    color: #fff;
    font-weight: 400;  
}
.question-section-1-content,
.question-section-2-content,
.question-section-3-content,
.question-section-4-content,
.question-section-5-content,
.question-section-6-content{
    width: 100%;
    height: auto;
    font-family: poppins;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 1.2rem 1rem;
    background-color: #564d4d;
    position: relative;
}
.question-section-1-plus{
    position: absolute;
    right: 2rem;
    cursor: pointer;
}
.section-anim{
    transition: 0.2s ease-in-out;
    transform: rotate(45deg);
}

.section-anim-out{
    transition: 0.2s ease-out;
    transition:rotate(0deg);
}
.section-hide{
    display: none;
}
.question-section-1:hover{
    background-color: #848080;
}

.question-section-form{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.question-section-form-title{
    color: #fff;
    font-size: 1.3rem;
    font-family: poppins;
    font-weight: 400;
}
.subcontent-4-form{
    width: 100%;
    height: 12vh;
    display: flex;
}
.content_input_1{
  width: 80%;
  height: 10vh;
  padding: 10px 1.2rem;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border:1px solid lightgray;
  border-radius: 5px;
  outline: none;
  background: transparent;
  margin-right: 1rem;
}
.content-label{
    position: absolute;
    top:5.3rem;
    left: 21rem;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    font-family: poppins;
    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-anim-2{
    position: absolute;
    top: 18rem;
}
.label-anim-3{
    position: absolute;
    top:18rem;
}
.content_input_1:focus ~ label,
.content_input_1:valid ~ label{
    top: 4.6rem;
    left:20.5rem;
    font-size:0.6rem;
}
.homePage_content_input_1{
    width: 50%;
    display: flex;
    margin-top: 1rem;
}
.homePage_input_started_1{
    width: 40%;
    height:80%;
    padding: 0.55rem 0.1rem;
    background-color: rgb(219,0,0);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}
.homePage_input_started_1:hover{
    background-color: rgb(255, 58, 58);
}

/* FOOTER */

.footer{
    width: 100%;
    height: 65vh;
    background-color:#000;
    padding: 3rem;
}
.footer_question{
    width: 240px;
    height: auto;
    display: flex;
    font-family: poppins;
    color: #D4D4D4;
    /* position: absolute;
    top: 2rem;
    left: 2rem; */
}
.footer_question_title{
    font-size: 0.8rem;
    font-weight: 400;
}
.footer_question_title a{
    color: #D4D4D4;
    font-weight: 400;
}
.footer_content{
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
}
.footer_content_1{
    width:300px;
    height: 100px;
    padding: 0.5rem 0;
    margin-right: 1rem;
}
.footer_content_1_ul{
    font-family: poppins;
}
.item{
    list-style-type:none;
    padding: 0.3rem 0 ;
}
.item a{
    font-size: 0.8rem;
    color: #D4D4D4;
}
.content-dropdown{
    margin-top: 3.6rem;
}
#dropdown:hover{
    background-color: #2e2b2b;
}

.footer-title{
    color: #D4D4D4;
    font-size: 0.8rem;
    font-family: poppins;
    margin-top: 1.5rem;
}
.footer-one{
    width: 100%;
}

.signUp-content{
    width: 100%;
    height: 120vh;
    background:url(images/Netflix\ Background\ image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120vh;
    position: absolute;
}
.signUp-content-nav{
    width: 100%;
    height: 120vh;
    position: relative;
    background-color: rgba(0,0,0,0.5);
}
.signUp-content-logo{
    width: 200px;
    height: auto;
    position: relative;
    left: 1rem;
}
.signUp-logo{
    width: 200px;
    height: auto;
}
.SignUp-form{
    width: 430px;
    height: 580px;
    position: absolute;
    top: 8rem;
    left: 35%;
    background-color: rgba(0,0,0,0.7);
    font-family: poppins;
    color: #fff;
    padding: 4rem;
}
.SignUp-form-title{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.SignUp-form-login{
    width: 100%;
}
.Sign-in-input{
    width: 100%;
    padding: 0.7rem 1rem;
    background-color: #353131;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 1rem;
    opacity: 1;
}
.sign-in{
    position: relative;
    top: -1.9rem;
    left: 1rem;
    font-size: 0.9rem;
    transition: all 0.2s;
}
/* .Sign-in-input:focus ~label,
.Sign-in-input:valid ~label{
    top: -2.2rem;
    left: 0.4rem;
    font-size: 0.6rem;
} */
.sign-hide{
    display: none;
}

.SignUp-form-button{
    width: 100%;
    margin-bottom: 13px;
}
.btn-1{
    width: 100%;
    padding: 0.6rem;
    background-color: rgb(219,0,0);
    color: #fff;
    font-family: poppins;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
}
.btn-1:hover{
    opacity: 0.7;
}
.SignUp-form-option{
    width: 100%;
    text-align: center;
    font-family: poppins;
    font-size: 0.9rem;
    color: #D4D4D4;
}

.form-btn{
    margin-top: 0.7rem;
}

.btn{
    background-color: #353131;
}

.SignUp-form-forget{
    width: 100%;
    text-align:center;
    font-family: poppins;
    font-size: 0.9rem;
    color: #fff;
}
.SignUp-form-check{
    width: 100%;
    display: flex;
    margin-top:1rem;
    font-family: poppins;
    font-size: 0.9rem;
}
.checkbox-label{
    margin-left: 0.6rem;
}
.footer-SignUp{
    width: 100%;
    font-size: 0.9rem;
    font-family: poppins;
    color: #D4D4D4;
    margin-top: 0.6rem;
}
.check-1{
    color: #fff;
    margin-left: 0.6rem;
}
.footer-captcha{
    width: 100%;
    font-size: 0.7rem;
    margin-top: 0.9rem;
    color: #D4D4D4;
}
.check-2{
    color: dodgerblue;
}
@media screen and (min-width:350px) and (max-width:648px){
    .signUp-content{
        width: 100%;
        height: 102vh;
        background: #000;
    }
    .SignUp-form{
        width: 330px;
        height: 468px;
        position: absolute;
        top: 8rem;
        left: 10%;
        background-color: rgba(0,0,0,0.7);
        font-family: poppins;
        color: #fff;
    }
}
@media screen and (min-width:648px) and (max-width:1024px){
    .signUp-content{
        width: 100%;
        height: 102vh;
        background:url(images/Netflix\ Background\ image.jpg);
        background-repeat: no-repeat;
        background-size: 100% 120vh;
        position: absolute;
    }
    .signUp-content-nav{
        width: 100%;
        height: 102vh;
        position: relative;
        background-color: rgba(0,0,0,0.5);
    }
    .SignUp-form{
        top: 15rem;
        left: 24%;
    }
}

/* SIGNUP-FOOTER */

.SignUp-footer{
    width: 100%;
    height: 54vh;
    background-color: #000;
    padding: 3rem 4rem;
}
.SignUp-footer-title{
    font-size: 0.85rem;
    font-family: open sans;
    color: #D4D4D4;
}
.TelPhone{
    transition: border-bottom 0.1s;
    cursor: pointer;
}
.TelPhone:hover{
    border-bottom: 2px solid #D4D4D4;
}
.SignUp-footer-links{
    width: 90%;
    height: 13vh;
    display: flex;
    margin-top: 1rem;
}
.SignUp-footer-links-1{
    width: 50%;
    height: 13vh;
}
.link-sec{
    list-style-type: none;
    font-family: poppins;
    font-size: 0.8rem;
    margin-bottom: 1.3rem;
}
.link-sec a{
    color: #D4D4D4;
    opacity: 0.8;
    font-weight: 400;
}
.SignUp-footer-choices{
    margin-top: 1.6rem;
}
.SignUp-footer-choices a{
    font-family: poppins;
    font-size: 0.8rem;
    color: #D4D4D4;
    font-weight: 400;
    opacity: 0.8;
}

.SignUp-footer-option{
    margin-top: 1.1rem;
}
@media screen and (min-width:350px) and (max-width:648px){
    .SignUp-footer{
        height: 60vh;
    }
    .SignUp-footer-links{
        width: 90%;
        height: 13vh;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .link-sec{
        margin-bottom: 0.7rem;
    }
    .SignUp-footer-choices{
        margin-top: 13.9rem;
    }
}
@media screen and (min-width:648px) and (max-width:1024px){
    .SignUp-footer-links{
        width: 90%;
        height: 13vh;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .link-sec{
        margin-bottom: 1.2rem;
    }
    .SignUp-footer-choices{
        margin-top: 12.3rem;
    }
}
