*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
}
.homePage{
    width: 100%;
    height: 105vh;
    background:url(images/Netflix\ Background\ image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120vh;
    position: absolute;
}
.homePage_navigation{
    width: 100%;
    height: 105vh;
    position: relative;
    background-color: rgba(0,0,0,0.7);
}
.homePage_nav_logo{
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: relative;
    left: 110px;
}
.homePage_button{
    position: absolute;
    top: 50px;
    right: 90px;
}
#dropdown{
    padding: 0.5rem 0.9rem;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 0.7rem;
}
.homePage_signin{
    padding: 0.5rem 0.9rem;
    border-radius: 4px;
    background-color: 	rgb(219,0,0);
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.homePage_content{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homePage_content_title{
    font-family: poppins;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0.8rem;
}
.homePage_content_line_one{
    font-size: 1.3rem;
    color: #fff;
    font-family: poppins;
    margin-bottom: 1rem;
}
.homePage_content_line_two{
    font-size: 1.1rem;
    color: #fff;
    font-family: poppins;
    font-weight: 400;
}
.homePage_content_input{
    width: 45%;
    margin-top: 1rem;
}
.content_input{
    width: 60%;
    padding: 0.9rem 1.5rem;
    margin-right: 0.5rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgb(148, 146, 146);
    border-radius: 4px;
}
.homePage_input_started{
    width: 30%;
    padding: 0.55rem 0.1rem;
    background-color: rgb(219,0,0);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.homePage_input_started_title{
    font-size: 1.2rem;
    font-family: poppins;
    font-weight: 600;
}
.line-one{
    width: 100%;
    height: 10px;
    background-color:rgb(86,77,77) ;
}
.chevron{
    width: 18px;
    height: 18px;
    color: #fff;
}
@media screen and (min-width:350px) and (max-width:1024px){
    .homePage_nav_logo{
        left: 20px;
    }
    .homePage_button{
        right: 30px;
    }
    .homePage_content_title{
        font-size: 1.5rem;
        text-align:center;
    }
    .homePage_content_line_one{
        font-size: 1rem;
        text-align: center;
    }
    .homePage_content_line_two{
        font-size: 1.1rem;
        text-align: center;
    }
    .homePage_content_input{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_input{
        width: 100%;
    }
    .homePage_input_started{
        width: 60%;
        margin-top: 0.5rem;
    }
}

/* SUBCONTENT ONE */

.subcontent_one{
    width: 100%;
    height: 85vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.subcontent_one_text{
    width: 50%;
    color: #fff;
    /* position: relative; */
    font-family: poppins;
    text-wrap: wrap;
}
.subcontent_one_text_title{
    font-size: 2.7rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    /* position: absolute;
    top: -60px;
    left: -100px; */
}
.content_one{
    font-size: 1.7rem;
    font-weight: 400;
}
.subcontent_one_display{
    position: relative;
}
.image_one{
    width: 430px;
    height:330px;
    position: absolute;
    top: -40px;
    left: -56px;
    z-index: 15;
}
.video{
    position: relative;
    top: -10px;
    z-index: -1;
}

/* SUBCONTENT -2 */

.subcontent-2{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    gap: 1rem;
}
.subcontent-2-display{
    position: relative;
    
}
.subcontent-2-img{
    width: 430px;
    height: 330px;
    position: absolute;
    left: -70px;
    z-index: 14;
}
.subcontent-2-video{
    width: 300px;
    height: 240px;
    padding-right:2rem;
    z-index: -1;
}
.subcontent-2-text{
    font-family: poppins;
    color: #fff;
    position: relative;
    left: 3.5rem;
}
.subcontent-2-text-title{
    font-size: 2.7rem;
    font-weight: 900;  
}
.subcontent-2-content{
    font-size:1.4rem;
    font-weight: 400;
}
@media screen and (min-width:350px) and (max-width:640px){
    .subcontent-2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subcontent-2-text{
        width: 83%;
        height: 20vh;
        position: absolute;
        top: 40px;
        text-align: center;

    }
    .subcontent-2-text-title{
        font-size: 2rem; 
    }
    .subcontent-2-content{
        font-size:1rem;
    }
    .subcontent-2-img{
        width: 340px;
        height: 230px;
        left: -40px;
    }
    .subcontent-2-video{
        width: 240px;
        height: 190px;
    }
}
@media screen and (min-width:640px) and (max-width:1024px){
    .subcontent-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .subcontent-2-text{
        width: 80%;
        height: 20vh;
        position: absolute;
        top: 20px;
        left: 100px;
        text-align: center;

    }
    .subcontent-2-text-title{
        font-size: 2.5rem; 
    }
    .subcontent-2-content{
        font-size:1.1rem;
    }

}