<section class="footer">
    <div class="footer_question">
        <h3 class="footer_question_title">Questions?Call 
            <a href="#">
            000-800-919-1694
            </span>
        </h3>
    </div>
    <div class="footer_content">
        <div class="footer_content_1">
            <ul class="footer_content_1_ul">
                <li class="item">
                    <a href="https://www.netflix.com/in/">FAQ</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Investor Relations</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Privacy</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Speed Test</a>
                </li>
            </ul>
        </div>
        <div class="footer_content_1">
            <ul class="footer_content_1_ul">
                <li class="item">
                    <a href="https://www.netflix.com/in/">Help Centre</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Jobs</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Cookie Preferences</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Legal Notices</a>
                </li>
            </ul>
        </div>
        <div class="footer_content_1">
            <ul class="footer_content_1_ul">
                <li class="item">
                    <a href="https://www.netflix.com/in/">Account</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Ways to Watch</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Corporate Information</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Only on Netflix</a>
                </li>
            </ul>
        </div>
        <div class="footer_content_1">
            <ul class="footer_content_1_ul">
                <li class="item">
                    <a href="https://www.netflix.com/in/">Media Centre</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Terms of Use</a>
                </li>
                <li class="item">
                    <a href="https://www.netflix.com/in/">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-dropdown">
        <select name="homePage_dropdown" id="dropdown">
            <option value="English">English</option>
            <option value="Hindi">हिन्दी </option>
        </select>
    </div>
    <div class="footer-title">
        Netflix India
    </div>
</section>
<div class="line-one footer-one"></div>