<main class="homePage">
    <div class="homePage_navigation">
        <img src="images/Netflix-Logo.wine.svg" alt="Netflix Logo" class="homePage_nav_logo">
        <div class="homePage_button">
            <select name="homePage_dropdown" id="dropdown">
                <option value="English">English</option>
                <option value="Hindi">हिन्दी </option>
            </select>
                    <button class="homePage_signin">Sign In</button>
            </div>
            <div class="homePage_content">
                <h1 class="homePage_content_title">Unlimited movies, TV shows and more</h1>
                    <p class="homePage_content_line_one">Watch anywhere.Cancel anytime</p>
                    <p class="homePage_content_line_two">Ready to Watch? Enter your email to create or restart your membership.
                    </p>
                    <div class="homePage_content_input">
                        <input type="email" placeholder="Email address" class="content_input" required>
                        <button class="homePage_input_started"><span class="homePage_input_started_title">Get Started</span>
                            <img src="images/chevron (1).png" alt="right chevron" class="chevron">
                        </button>
                    </div>
                </div>
    </div>
    <div class="line-one"></div>
</main>