<section class="SignUp-footer">
    <div class="SignUp-footer-title">
        Questions? Call
        <span class="TelPhone">1-844-505-2993</span>
    </div>
    <div class="SignUp-footer-links">
        <div class="SignUp-footer-links-1">
            <ul class="link-1">
                <li class="link-sec">
                    <a href="#">FAQ</a>
                </li>
                <li class="link-sec">
                    <a href="#">Privacy</a>
                </li>
            </ul>
        </div>
        <div class="SignUp-footer-links-1">
            <ul class="link-1">
                <li class="link-sec">
                    <a href="#">Help Center</a>
                </li>
                <li class="link-sec">
                    <a href="#">Cookie Preferences</a>
                </li>
            </ul>
        </div>
        <div class="SignUp-footer-links-1">
            <ul class="link-1">
                <li class="link-sec">
                    <a href="#">Netflix Shop</a>
                </li>
                <li class="link-sec">
                    <a href="#">Coorporate Information</a>
                </li>
            </ul>
        </div>
        <div class="SignUp-footer-links-1">
            <ul class="link-1">
                <li class="link-sec">
                    <a href="#">Terms of Use</a>
                </li>
                <li class="link-sec">
                    <a href="#">Do Not Sell or Share My Personal Information</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="SignUp-footer-choices">
        <a href="https://www.netflix.com/login">Ad Choices</a>
    </div>
    <div class="SignUp-footer-option">
        <select name="homePage_dropdown" id="dropdown">
            <option value="English">English</option>
            <option value="Hindi">हिन्दी </option>
        </select>
    </div>
</section>