<section class="subcontent_one">
    <div class="subcontent_one_text">
        <h1 class="subcontent_one_text_title">
            Enjoy on your TV
        </h1>
        <p class="content_one">
            Watch on smart TVs, PlayStation , Xbox, Chromecast, Apple TV, Blu-ray Players and more.
        </p>
    </div>
    <div class="subcontent_one_display">
        <img src="images/netflix_tv.png" alt="image" class="image_one">
        <video width="320px" height="238px" autoplay loop>
            <source src="videos/video-tv-in-0819.m4v">
        </video>
    </div>
</section>
<div class="line-one"></div>