<section class="subcontent-3">
    <div class="subcontent-3-text">
        <h1 class="subcontent-3-text-title">Create profiles for kids</h1>
        <p class="subcontent-3-content">
            Send children on adventures with their favourite characters in a space made just for them—free with your membership.
        </p>
    </div>
    <div class="subcontent-3-display">
        <img src="images/netflix_children.png" alt="Netflix Children" class="subcontent-3-img">
    </div>
</section>
<div class="line-one"></div>