<section class="subcontent-4">
    <div class="subcontent-4-display">
        <img src="images/Netflix_mobile.jpg" alt="Netflix Mobile" class="subcontent-4-img">
        <div class="subcontent-4-box">
            <div class="subcontent-4-box-display">
                <img src="images/netflix_mobile_boxshot.png" alt="Netflix-boxshot" class="subcontent-4-box-img">
            </div>
            <div class="subcontent-4-box-text">
                <div class="subcontent-4-box-text-title">Stranger Things</div>
                <div class="subcontent-4-box-text-content">Downloading...</div>
            </div>
            <div class="subcontent-4-box-animation">
                <img src="images/Netflix -download-gif.gif" alt="Netflix-download-gif" class="subcontent-4-animation">
            </div>
        </div>
    </div>
    <div class="subcontent-4-text">
        <h1 class="subcontent-4-text-title">
            Download your shows to watch offline
        </h1>
        <p class="subcontent-4-content">
            Save your favourites easily and always have something to watch.
        </p>
    </div>
</section>
<div class="line-one"></div>