<section class="subcontent-2">
    <div class="subcontent-2-display">
        <img src="images/netflix_device_pile_up.png" alt="Netflix BoxShot" class="subcontent-2-img">
        <video controls autoplay loop class="subcontent-2-video">
            <source src="videos/video-devices.m4v" type="video/mp4">
        </video>
    </div>
    <div class="subcontent-2-text">
        <h1 class="subcontent-2-text-title">
            Watch everywhere
        </h1>
        <p class="subcontent-2-content">
            Stream unlimited movies and TV shows on<br> your phone, tablet, laptop and TV.
        </p>
    </div>
</section>
<div class="line-one"></div>